Body{
    color:white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgba(90, 255, 131, 0.815);
    padding: 20px;
    font-size: 32px;
    color: rgba(87, 255, 129, 0.836)
}

section{
    background: rgb(126, 201, 245, 0.815)
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}